.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
span{
  /* font-size: 0.4em; */

}
.home-page {
  position: relative;
  width: 100%;
  height: 100vh; /* גובה כל הדף */
}

.header-image {
margin-left: 35%;
  width: 30%;
  height: 12.5vh; /* שמינית מהדף */
  object-fit: cover; /* שומר על יחס גובה-רוחב */
}
.buttonName {
  color: greenyellow;
  size: 30px;
}
.App-link {
  color: #61dafb;
}
Button{
  width: 15px;
  height: 25px;
}

#line{
  display: flex;
  background-color: #282c34;
  display: inline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
